.userlist{
    flex: 4;
}
.userListProfile{
   display: flex !important;
   align-items: center !important; 
}
.userListImg{
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;
    object-fit: cover;
    margin-right: 10px;

}
.arrangeButtons{
  align-items: center; 
  display: flex; 
  justify-content: center;
}
.userListEdit{
     
   border: none;
   border-radius: 10px;
   padding: 5px 10px;
   background-color: rgb(50, 99, 50);
   color: white;
   margin-right: 20px;
   cursor: pointer;
  
}
.userListDelete{
color: red;
cursor: pointer;

}
@media screen and (max-width:950px) {
  .userlist{
      overflow-x: scroll;
  }
      }