.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    /* 100vh will make it overflow. but 100vh-50px which is topbar
    height is perfect, take note of this gaps (100vh - 50px)*/
    background-color:rgb(191, 191, 219);
    position: sticky;
    top: 50px;/* it starts after topbar which is 50px*/
    flex-direction: column;
}
.sidebarWrapper{
    padding: 20px;
    color: rgb(19, 12, 12);  
}
.sidebarMenu{
 
    margin-bottom: 10px;
}
.sidebarTitle{
  font-size: 17px;
  color: rgb(48, 35, 35);  
}
.sidebarList{
    list-style: none;
    padding: 5px;
   
}
.sidebarListItem{
   
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.sidebarListItem.active, .sidebarListItem:hover{
background-color: rgb(229, 241, 229);

}
.sidebarIcon{
    margin-right: 5px !important;
    font-size: 20px !important;

}

@media screen and (max-width:950px) {
    .all{
margin-top: 0 !important;}
   
    .sidebar{
        position: fixed;
        z-index: 999;
        background-color:#E3DFFD;
        width: 55%;
        padding-right: 1rem;
        height: 100%;
        margin-top: 0 !important;
        border-radius: 0 10px 0 0;
        overflow-y: scroll;
 
    
        }

.bars{
    
    display: flex;
    z-index: 9999;
    position: fixed;
    top: 3.1rem;
    background-color:lightblue;
    padding: 3px;
    color: black;
    border-radius: 20%;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 5px;
}

}
