.user{
    flex: 4;
    padding:20px;
    overflow-x: scroll; 
}
.userTitleContainer{
display: flex;
align-items: center;
justify-content: space-between;
}
.userTitle{
font-size: 22px;
}
.userAddButton{
width: 80px;
border: none;
padding: 5px;
background-color: green;
border-radius: 5px;
color: white;
cursor: pointer;
font-size: 18px;
}
.userContainer{
display: flex;
margin-top: 20px;

}
.userShow{
flex: 1;
padding: 20px;
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 20px;
}
.userShowTop{
    display: flex;
    align-items: center;

}
.userShowTobTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.userShowUsername{
font-weight: 600;

}
.userShowUserTitle{
font-weight: 300;
}
.userShowImg{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.userUpdate{
    flex: 2;
    padding: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        padding: 20px;
        margin-left: 20px;
}
/* show bottom*/
.userShowBottom{
margin-top: 20px;
}
.userShowTitle{
font-size: 14px;
font-weight: 600;
color: rgb(37, 35, 35);


}
.userShowInfo{
display: flex;
align-items: center;
margin: 20px 0px;
color: #444;
}
.userShowIcon{
font-size: 16px !important;

}
.userShowInfoTitle{
margin-left: 10px;
}
.userUpdateImage{
    width:100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}
.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}
.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}
.userUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}
/* Right side*/
.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userUpdateUpload{
    display: flex;
    align-items: center;
}
.userUpdateIcon{
    cursor: pointer;
}
.userUpdateButton{
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: bolder;
}
@media screen and (max-width:950px) {
   .userContainer{
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: scroll;
   } 
   .userTitle{
    font-size: 18px;
    }
    .userUpdateImage{
        width:40px;
        height: 50px;
        border-radius: 10px;
        object-fit: cover;
        margin-right: 5px;
    }
    .userUpdateInput{
        border: none;
        width: 150px;
        height: 20px;
        border-bottom: 1px solid gray;
    }
}
